html {
    height: 100%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }
 main{
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
 }
 footer{
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
 }

main {
    background-image: url('/public/images/AutoCar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ya_map {
    max-width: 600px;
    height: 500px;
    width: 100%;
}

.main_box {
    padding: 80px 0px 10px 0px;
}

/* *******************************MAIN */

.mainPage_box {
    display: flex;
}

.mainPage_contact_map_box {
    display: flex;
    flex-direction: column;
}

.contact_map_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_map_box .list_item {
    padding: 20px 45px;
}

.list_box {
    display: flex;
    flex-direction: column;
}

.btn_service_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}


.list_presents {
    border-radius: 30px;
}

.list_item {
    background-color: rgb(255, 255, 255, .8);
    font-weight: 700;
}

.title_list_presents {
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
    font-weight: 900;
}

.carousel_box {
    padding: 20px 0px;
}

.carousel_img {
    width: 100%;
    height: 600px;
}

/* *******************************NAVBAR */

.brand {
    font-size: 36px;
    font-weight: 900;
    color: #227afc;
}

.brand:hover {
    font-size: 36px;
    font-weight: 900;
    color: #227afc;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 999;
}

.nav-link {
    color: #3d88f8;
}

.nav-link:focus {
    color: #3d88f8;
}

.nav-link:hover {
    color: #0c6dff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
    color: #0c6dff;
}

/* *******************************RIGISTER LOGIN*/

.auth_box {
    margin-bottom: 60px;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.8);
    color: black;

}

.already_registered {
    margin-right: 10px;
}

/* *******************************FOOTER*/

.footer {
    width: 100%;
    
    padding: 15px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: black;

    color: rgb(155, 155, 155);
}

.street {
    padding: 3px;
    font-size: 14px;

    text-align: center;
}

/* *******************************ADMIN SERVICES PANEL*/


.admin_main_block {
    padding: 15px;
}

.category_control {
    padding: 15px;
    margin-bottom: 20px;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.category_control_form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.category_control_helpBlock {
    margin-bottom: 15px;
}

.category_control_button {
    padding: 5px 20px;
}

.service_control {
    padding: 15px;
    margin-bottom: 40px;

    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.service_control_form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: start;
}

.service_control_button {
    padding: 5px 20px;
}

@media (max-width: 665px)  {

    main {
        background-image: none;
        background-color: #86c8ff;
    }

    .mainPage_box {
        flex-direction: column;
    }

    .list_box {
        margin-bottom: 15px;
    }

    .carousel_img {
        width: 100%;
        height: 300px;
    }

    .ya_map {
        height: 240px;
    }

    .btn_service_box {
        padding-top: 15px;
    }
}